html {
  background-color: #AAAAAA;
  font-family: 'Gafata', sans-serif;
}

button {
  font-family: 'Gafata', sans-serif;  
}

.deals {
  width: 49%;
  float:left;
  padding: 1em;
  background-color: gainsboro;
  box-sizing: border-box;
  box-shadow: 1px 5px 15px;
  border-radius: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.deal {
  margin-bottom: 1.3em;
  padding: 0.5em;
  background-color: #AAAAAA;
}

.in_item {
  margin-left: 1em;
  padding: 1em;
  background-color: #BBBBBB;
}

.gateway_deal {
  background-color: grey;
  margin-left: 1em;
  padding: 1em;
}

.inventory {
  background-color: gainsboro;
  width: 49%;
  float: right;
  padding: 1em;
  box-sizing: border-box;
  box-shadow: 1px 5px 15px;
  border-radius: 0.5em;
  margin-top: 1em;
}

.inventoryItems {
  background-color: grey;
  padding: 1em;
  margin-left: 1em;
}

.outItems {
  background-color: #DFB872;
  padding: 1em;
  margin-left: 1em;
}

.deals button {
  float:right;
}